#header-text{
 background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 45px;
  letter-spacing: -0.04em;
  font-weight: 800;
  margin-top: 25px;

   font-family: 'Manrope', sans-serif;
}
#hr{
 width: 40px;
 height: 3px;
 background: linear-gradient( to right, #AE67FA , #f46767);
 align-self: center;
 margin-bottom: 6%;
 padding: 2px;
 border-radius: 6px;
}
.desc-text , .cf-text , .fc-text , .blog-text, .footer-text{
   background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}